{% extends "base.html" %}

{% block title %}Bienvenido a Distribuidora Noja{% endblock %}

{% block content %}
<h1>Productos Noja</h1>
<p>
En Productos Noja somos especialistas en la distribuci&oacute;n de alimentos frescos, congelados y abarrotes.
Con el apoyo de productores y comercializadores expertos en su nicho y basados en los altos est&aacute;ndares de calidad para la compra podemos ofrecer una amplia gama de productos de muy alta calidad a precios competitivos.

D&eacute;jenos ayudarlo con la adquisici&oacute;n de sus insumos y le aseguramos que quedar&aacute; completamente satisfecho. 
</p>
{% endblock %}